.home-page{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
}

.hero-section {
  background-color: #c5ad6d;
  color: #fff;
  padding: 25px 0;
}

.hero-btn {
  background-color: #fff;
  color: #c5ad6d;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.features-section {
  background-color: #fff;
  padding: 50px 0;
}

.feature {
  text-align: center;
  padding: 20px;
  border-bottom: solid #c5ad6d 0.5rem;
}

.cta-btn {
  background-color: #fff;
  color: #c5ad6d;
  border: solid 2px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.cta-btn:hover {
  background-color:   #c5ad6d;
  color: #fff;
  border: solid 2px #c5ad6d;
}

#contactsection {
  margin-top:-50px
}

#headersection {
  margin-bottom:-45px
}